<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Blog</title>
  
</head>

<body>
  <a href="/blog" class="main-title">
    Blog
  </a>
  
  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  
  <div id="menu">
  	<ul>
  		<li><a href="/blog">blog</a></li>
  		<li><a href="/blog/newpost">post</a></li>
  		<li><a href="/unit2/rot13">encode</a></li>
  		<li><a href="/signup">signup</a></li>
  	</ul>
  </div>

<hr>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

